<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="card p-5 bg-primary">
    <div class="card-header">
      <app-icon icon="Segclinic.PNG" [width]="431" [height]="128"></app-icon>
    </div>
    <div class="card-body">
      <div class="error-login mb-3" *ngIf="formErrors.error">
        {{formErrors.error}}
      </div>
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-group mb-3">
          <label for="usuario_login" class="text-light">Usuário</label>
          <input formControlName="no_usuario" type="text" maxlength="40" placeholder="Nome de usuário" class="form-control">
        </div>
        <div class="form-group mb-3">
          <label for="senha_login" class="text-light">Senha</label>
          <input formControlName="ds_senha" type="password" placeholder="Senha" class="form-control">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-rounded btn-success btn-air-primary">Acessar</button>
        </div>
      </form>
    </div>
  </div>
</div>
