
<div class="container-fluid p-3 m-3">
  <h2>Cadastro de Especialidades</h2>
  <form [formGroup]="form" (submit)="submit()" #formDirective="ngForm" ngbAutoFocus>
    <div class="d-flex flex-column justify-content-start">
      <mat-form-field class="vertical-form-field">
        <mat-label for="ds_especialidade">Especialidade</mat-label>
        <input matInput formControlName="ds_especialidade" type="text" maxlength="45">
        <mat-error *ngIf="form.get('ds_especialidade')?.hasError('required')">{{genericRequired}}</mat-error>
      </mat-form-field>
      <mat-form-field class="vertical-form-field">
        <mat-label for="vl_consulta">Valor da Consulta</mat-label>
        <input matInput currencyMask formControlName="vl_consulta" [options]="currencyConfig">
        <mat-error *ngIf="form.get('vl_consulta')?.hasError('required')">{{genericRequired}}</mat-error>
      </mat-form-field>
      <div class="form-group mt-3 d-flex">
        <button mat-fab extended color="primary" type="submit" class="mx-2" [disabled]="form.invalid">
          <mat-icon>save</mat-icon>
          Salvar
        </button>
        <button mat-fab extended color="warn" type="button" (click)="activeModal.close()">
          <mat-icon>close</mat-icon>
          Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
