<app-header></app-header>
    <div class="container-fluid p-3 m-3">
        <h2>Cadastro de Especialidades</h2>
        <form [formGroup]="form" (submit)="submit()">
            <div class="d-flex flex-column">
                <mat-form-field class="my-2 w-25">
                    <mat-label for="ds_especialidade">Especialidade</mat-label>
                    <input matInput formControlName="ds_especialidade" type="text" maxlength="45">
                </mat-form-field>
                <mat-form-field class="my-2 w-25">
                    <mat-label for="vl_consulta">Valor da Consulta</mat-label>
                    <input matInput formControlName="vl_consulta" type="number">
                </mat-form-field>
                <div class="form-group d-flex">
                    <button mat-fab extended color="primary" type="submit" class="mx-2">
                        <mat-icon>save</mat-icon>
                        Adicionar
                    </button>
                    <button mat-fab extended color="warn" type="button" routerLink="/principal" class="mx-2">
                        <mat-icon>close</mat-icon>
                        Cancelar
                    </button>
                </div>
            </div>
        </form>
    </div>
