<app-header></app-header>
<div class="container-fluid p-3 text-center">
    <h2 class="text-center">Bem vindo ao sistema de gestão para clínicas</h2>
    <div class="row my-3 gx-0">
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="cadastro_usuarios.php">
                <app-icon icon="Cadastro.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Cadastro</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="consultas.php">
                <app-icon icon="Consultas.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Consultas</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="cadastro_convenios.php">
                <app-icon icon="Convenio.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Convênios</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" routerLink="/doutor/form">
                <app-icon icon="Doutores.PNG" [width]="80" [height]="80"></app-icon>
                <span>Doutores</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="/especialidade/form">
                <app-icon icon="Especialidade.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Especialidades</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" routerLink="/paciente/form">
                <app-icon icon="Paciente.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Pacientes</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="agenda.php">
                <app-icon icon="Agenda.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Agendamentos</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="relatorio_financeiro.php">
                <app-icon icon="Relatório.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Relatórios</span>
            </a>
        </div>
        <div class="col-6 col-md-4 my-3">
            <a class="d-inline-flex flex-column" href="javascript:void(0)" (click)="logout()">
                <app-icon icon="sair2.PNG" class="imagens_tela_principal" [width]="80" [height]="80"></app-icon>
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>
