/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.btn-rounded {
  border-radius: 20%;
}

* {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

mat-form-field {
  padding: 20px;
  padding-bottom: 10px;
  padding-left: 0px;
}

.vertical-form-field {
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 400px;
}

@keyframes iconSizeIncrease {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.5);
  }
}

.icon-suffix:hover {
  animation-name: iconSizeIncrease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
