@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.navbar-nav-container {
  display: flex;
  max-width: 75vw;
 
}

.navbar-scroll {
  white-space: nowrap;
}

.dropdown-menu {
  background-color:$primary;
  border: none;
}

nav{
  font-size:large;
}
