@media screen {

body{
    font-family: none;
    line-height: 1.428;
    overflow-x:hidden;
background-color: whitesmoke;
scrollbar-width: 0%;
margin:0px;
min-width: 1900px;
}

#container_login{
    padding-top:150px;
    padding-right: 250px;
    width:350px;
    margin:auto;
}
ul,div,input,select,table{
    box-sizing: unset;
}

.tabela_agenda{
    width:1000px;
    
}
select{
    font-size:22px;
}
#mostrar_cadastro_acompanhante{
    align-self: center;
    text-align: center;
}

ul{
    font-size:160%;
display: block;
list-style-type: disc;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
padding-inline-start: 40px;
}
#sair{
 position:fixed;
 top:15px;
 left:90%;
 z-index:1;
}


#titulo_login{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-weight: bold;
font-size:66px;
display:block;
text-align: center;
align-items: center;
justify-content: center;
margin-top:10%;
color:rgb(213, 231, 235);
text-shadow: 3px 2px 2px rgb(61, 59, 59);
letter-spacing: 4px;
}
#body_titulo{
    background-color:#152953;
}
.content_tabela_agenda{
    vertical-align: center;
    border-bottom:solid #152953 1px;
}
.input_login{
display:block;
margin:0 auto 20px;
}
#div_crm_usuario{
    visibility:hidden;
}

#label_usuario{
    font-size:18px;
    margin-right:113px;
}
#label_senha{
    font-size:18px;
    margin-right:125px;
}
#botao_acessar{
    color:rgb(241, 241, 241);
    font-weight: bold;
    font-size:18px;
    width:120px;
    background-color: #65bcd2;
    box-shadow: 3px 2px 2px rgb(184, 179, 179);
}


#form_login{
    display:flexbox;
    position: relative;
    width:90%;
    background-color: #dfdfdf;
    margin: 0 auto 100px;
    padding: 23px;
    text-align: center;
    box-shadow: 3px 2px 2px rgba(71, 66, 66,0.4);
}
input{
    margin: 0;
    font-family: none;
    font-size: 22px;
    line-height: none;
}
#erro_login{
    display:none;
color:red;
}
.li_cadastro,.li_relatorios{
    word-spacing: 10px;
    display:none;
}

.ul_principal{
font-size: 160%;
padding: 5px;
}


#ul_cadastro:hover,#ul_relatorios:hover{
margin-bottom:100px;
}
#tab_titulo,#titulo_paginaPrincipal{
    z-index:1;
    font-family:Verdana,sans-serif;
    font-size:200%;
    height:15.5%;
    color:whitesmoke;
}
#tab_titulo{
    position:sticky;
    top:0;
    width:1920px;
    height:130px;
    background-color: #152953;
}
#titulo_paginaPrincipal{
  margin-top:0%;
  margin-left:3%;
  width: 3000px;
  height:26px;
  vertical-align: center;
  
}

#paginaPrincipal_selecoes{
 
    display:block;
    background-color:#152953;
    color:whitesmoke;
    width:17%;
    height:980px;
    width:280px;
}

#ul_cadastro:hover .li_cadastro{
    display:grid;
    grid-column: 1;
    grid-row: 4;
    border:1px solid grey;
    font-size:20px;
    cursor:pointer;
}
.li_cadastro,.li_relatorios{
    background-color:rgb(165, 163, 163);
}
.li_cadastro:hover,.li_relatorios:hover{
    background-color:rgb(9, 173, 9);
}
#ul_relatorios:hover .li_relatorios{
    display:grid;
    grid-column:1;
    grid-row:2;
    border:1px solid grey;
    font-size:20px;
    cursor:pointer;
}

.ul_principal{
    font-size:160%;
    cursor:pointer;
    text-align: center;
    width:96.4%;
    padding-top:7px;
    height:6%;
}
.ul_principal article{
    margin-top:6px;
}
.ul_principal:hover{
    background-color:#8BD029;
}
.titulo_cadastro{
text-align: center;
}

#input_convenios,#input_especialidades{
    row-gap: 5px;
}

.input_cadastro{
    width: 120%;
    background-color: rgb(232, 240, 243);
    border-color:rgba(0, 183, 255, 0.26);
    height: 30px;
    margin-top:5%;
    margin-bottom: 10px;
    border-radius: 5%;
}
#nome_especialidade,#valor_consulta_especialidade,#nome_convenio,#numero_convenio{
    width:150%;
}
.erros{
    height:30px;
    color:rgb(255, 17, 0);
}
#botoes_cadastro_especialidade{
    display:grid;
    grid-template-columns: 200px 200px;
    height:170px;
   
}
.button_pesquisa,.button_incluir{
    margin:auto;
    border:none;
    border-radius: 5%;
    padding:10px;
    color:white;
    font-weight: bold;
  display: flex;
  height:24%;
  width: 60%;
  cursor:pointer;
  font-size:16px;
  justify-content: center;
text-align: center;
align-items: center;
}
.button_pesquisa:active,.button_incluir:active{
    border:solid aqua 1px;
}
.button_incluir{
    background-color: rgb(20, 201, 4);
}
.button_pesquisa{
    background-color: rgb(37,58,248);
}

#form_confirm_especialidade{
    float:right;   
   margin-top:25px;
   width:250px;
}
.button_confirm{
    font-size:20px;
    margin-left:10px;
cursor:pointer;   
width: 90px;
height:40px;
width:100px;
border-radius:15%;
color:white;
}
#button_confirm{
    background-color: rgb(6,248,6);
    border:none;
    box-shadow: 2px 1px 2px 1px black;
}

#button_cancela{
    background-color: red;
    border:none;
    box-shadow: 2px 1px 2px 1px black;
} 
#button_confirm:active,#button_cancela:active{
    transform: scale(0.98);
    box-shadow: 1px 1px 1px 1px black;
}
#content{
    width:1920px;
}
#content2{
    z-index: -2;
    display: flex;
  justify-content: space-between;
    width:1150px;
}
#content_selecoes{
    position:relative;
    text-align: center;
    margin-top:50px;
    width:450px;
}
#content_cadastro,#content_pesquisa,#content_agenda,#content_relatorio{
    margin-top:40px;
    font-size:26px;
    width:700px;
}
#content_agenda{
    width:800px;
}
#agendamento_content{
    width:1600px;
}
#input_pacientes{
    column-gap:15%;
    display:grid;
    grid-template-columns: 230px 230px 230px;
}
#input_cadastro{
    column-gap: 20%;
    display:grid;
    grid-template-columns: 230px 230px;
}
#input_especialidades{

    display:grid;
    grid-template-columns: 230px;
}
#input_doutores{
    column-gap: 15%;
    display:grid;
    grid-template-columns: 230px 230px 230px;
}
#input_convenios{
    display:grid;
grid-template-columns: 230px;
}
#input_acompanhantes{
    display:grid;
    grid-template-columns: 230px;
}
.input_agenda{
    display:grid;
    grid-template-columns: 230px;
    
}
#input_prontuarios{
    display:grid;
    grid-template-columns: 230px 230px;
    column-gap: 25%;
}

#images,.images_content{
    display:grid;
    grid-template-columns: 150px 150px 150px;
    grid-column: 3;
    grid-row: 4; 
    cursor:pointer;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    font-size: 18px;
}
.imagens_tela_principal{
    margin:15px;
}
a{
    color:black;
    text-decoration: none;
}
.div_agenda{
    white-space:nowrap;
    display:inline-block;
    width:200px;
    margin-bottom: 20px;
    margin-left:120px;
}
.agenda_row{
    border-bottom:dashed #152953;
    margin-bottom:10px;
}
#agenda_content{
    width:1100px;
}
#agenda_content a{
    text-decoration: underline;
}

#id_paciente,#codigo_especialidade,#id_convenio{
    cursor:not-allowed;
}
#modal_content{
    text-align:center;
    border-style:double;
    border-color:rgb(0, 0, 255);
    box-shadow:4px 4px 4px 4px solid black;
    display:none;
    width:50%;
    background-color:rgb(232, 240, 243);
    margin:auto;
    position:absolute;
    margin-top:5%;
    margin-left:30%;
}
#titulo_modal{
    background-color:#152953;
    color:whitesmoke;
}
#titulo_modal h2{
   
   display:block;
   align-content: center;
   align-self: center;
   align-items: center;
   text-align: center;
}
#modal_content input{
   background-color: whitesmoke;
    width:70%;
}

#botao_fechar{
    align-content:flex-end;
    align-items: flex-end;
    justify-content:right;
    text-align:right;
}

.td_button{
    cursor:pointer;
}
.content_pesquisa{
    font-size:18px;
    height:300px;
    width:1000px;
    display:block;
    overflow-y:scroll;

}
#tabela_pesquisa,#tabela_relatorio_financeiro{
    border: 1px solid #ddd !important;
    vertical-align: middle;
    border-collapse:collapse;
 text-align: center;
}
#tabela_pesquisa tr,#tabela_pesquisa td,#tabela_relatorio_financeiro tr,#tabela_relatorio_financeiro td{
    border: 1px solid #ddd !important;
    padding:10px;
}

#mensagem_buscaZerada{
    color:rgb(31, 27, 27);
    font-size:22px;
    text-align: center;
}
#details_tabela_relatorio{
    margin-bottom:30px;
}
#content_relatorio{ 
   max-height: 800px;
    overflow-y:scroll;
}
.details_meses{
    margin-left:15px;
}


}